@import "primer/normalize";
@import "primer/variables";
@import "primer/type";

p {
    margin-bottom: 1em;
    margin-top: 0.5em;
}

ul {
    margin-top: 0.5em;
    padding-left: 0;
}

ul.vertical, ul.horizontal {
    list-style: none;
}
ul.horizontal {
    overflow: hidden;
}
ul.horizontal > li {
    float: left; margin-right: 10px;
}
ul.horizontal > li:last-child {
    margin-right: 0px;
}


h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 80px;
    font-size: 56px;
    font-family: 'OFL Sorts Mill Goudy TT', serif;

    text-align: center;
    text-shadow: 0 0 1px #fff;

    color: #000;
}
h1 a {
    color: #000;
    text-decoration: none;
}

h2 {
    font-style: normal;
    font-size: 26px;
    color: #000;
    margin: 1em 0 0 0;
}

a {
    font-style: normal;
    color: #3876b3;
}

footer {
    background: #000;
    margin-top: 30px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
footer img {
    padding: 10px;
    position: absolute;
    left: 0;
}
footer a {
    display: block;
    color: #b57006;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.email-address {
    padding-left: 164px;
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 5px;
}


.section {
    margin-bottom: 30px;

    font-size: 16px;
    font-family: 'OFL Sorts Mill Goudy TT', serif;
}

.section.header {
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 42px;
}


.section.identity, .section.projects, .section.likes {
    font-style: italic;
}

.section.more {
    text-align: center;
}

.post {
    max-width: 640px;
    padding: 0 5px;
    line-height: 1.5em;
    word-spacing: 1px;
    font-size: 16px;
    font-family: 'OFL Sorts Mill Goudy TT', serif;
    color: #444;
}
.post strong {
    color: #681100;
}
.post h1 {
    text-align: left;
    font-size: 36px;
    line-height: 1.2em;

    color: #111;
}
.post h2, .post h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.post h3 {
    font-weight: bold;
}
.post ol, .post ul {
    margin-top: 0.5em;
    margin-left: 1.8em;
}
.post li {
    margin-bottom: 0.5em;
}
.post pre {
    padding: 5px 10px;
    margin-bottom: 1em;
}
.post code {
    background: #eaeaea;
    color: #222;
}
.post .highlight {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    font-size: 12px;
    line-height: 1.5em;
}

.post img {
    text-align: center;
}

.post .credits {
    padding-top: 1em;
}
.post .credits a {
    color: #999;
}

.post hr {
    background: #eee;
    border: solid #eee;
    border-width: 2px;
    width: 80%;
    height: 0;
    margin: 1.5em auto 1.5em auto;
}

.post blockquote {
    padding-left: 1em;
    border-left: 1em solid #eee;
}

.tag::before {
    font-family: 'Lucida Grande', Arial, sans-serif;
    background: #eee;
    color: #666;
    display: inline-block;
    width: 3rem;
    content: " ";
    text-align: center;
    margin-left: -3.5rem;
    margin-right: 0.5rem;
    vertical-align: text-top;
    font-size: 0.7em;
    font-style: normal;
    line-height: 1.2rem;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tag.service::before {
    content: "Service";
    background: #ffba44;
    color: #7d5b21;
}

.tag.code::before {
    content: "Code";
    background: #72c18f;
    color: #385f46;
}

.tag.game::before {
    content: "Game";
    background: #c2a3d1;
    color: #5f5066;
}

.offsite.medium::before {
    display: inline-block;
    width: 2em;
    height: 1.3em;
    margin-left: -2em;
    content: " ";
    vertical-align: text-bottom;
    background: url("/static/images/offsite-medium.png") no-repeat right 0.5em top;
}

.hireme {
    max-width: 620px;

    line-height: 1.25em;

    h2 {
        line-height: 2em;
    }

    h3 {
        font-size: 1.5em;
        margin-top: 1.5em;
        color: #666;
    }

    h4 {
        font-size: 1em;
    }

    ul {
        margin-bottom: 1.5em;
        margin-left: 1em;

        &.horizontal {
            margin-left: 0;
        }
    }

    li {
        margin-bottom: 0.5em;
    }

    .hidden {
        display: none;

        &:target {
            display: block;
        }
    }
}
