{{ define "body" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>

        <div class="posts">
        {{ range .Pages.GroupByDate "2006" }}
            {{ if ne .Key "0001" }}
            <h3>{{ .Key }}</h3>
            <ul>
            {{ range .Pages }}
                <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                    {{ if in .Params.categories "featured" }}
                    <span>⭐</span>
                    {{ end }}
                </li>
            {{ end }}
            </ul>
            {{ end }}
        {{ end }}
        </div>

        <div class="tags">
            <h2>Tags</h2>
            <ul>
                {{ range sort .Site.Taxonomies.tags "Count" "desc" }}
                <li>
                    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
                </li>
                {{ end }}
            </ul>
        </div>
    </article>

</main>
{{ end }}
