{{ define "body" }}
<div class="back">&larr; <a href="/">Back to shazow.net</a></div>
<article class="main post container">
    <header class="front-matter">
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <aside class="meta">
            {{ if and .Site.Params.dateformfull .Site.Params.dateform }}
            Published on <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format .Site.Params.dateform }}.</time>
            {{ end }}
        </aside>
    </header>
    <div>
        {{ .Content }}
    </div>
</article>

<center class="ending">𐫱</center>

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<article class="related post container">
    <h2>Related Posts</h2>
    <ul>
        {{ range sort . "Date" "desc" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a> ({{.Date.Format "2006"}})</li>
        {{ end }}
    </ul>
</article>
{{ end }}

<div class="back">&larr; <a href="/">Back to shazow.net</a></div>
{{ end }}
{{ define "title" }}{{ .Title }} | shazow.net{{ end }}
{{ define "extra_head" -}}
    <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />
    {{ if .Params.canonical -}}
    <link rel="canonical" href="{{ .Params.canonical }}" />
    {{ end }}
{{ end }}
{{ define "tail" -}}
    {{ $js := resources.Get "js/post.js" | fingerprint }}
    <script type="text/javascript" src="{{ $js.Permalink }}" defer></script>
{{ end }}
