{{ define "body" }}
<div class="back">&larr; <a href="/">Back to shazow.net</a></div>
<article class="main post container">
    <header class="front-matter">
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <aside class="meta">
            {{ if and .Site.Params.dateformfull .Site.Params.dateform }}
            Published on <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format .Site.Params.dateform }}</time>
            · {{ .WordCount }} {{ cond (eq .WordCount 1) "word" "words" }}.
            {{ end }}
        </aside>
    </header>
    <div>
        {{ .Content }}
    </div>
</article>

<center class="ending">𐫱</center>

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<article class="related post container">
    <h2>Related Posts</h2>
    <ul>
        {{ range sort . "Date" "desc" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{.Date.Format "2006"}})</li>
        {{ end }}
    </ul>
</article>
{{ end }}

<div class="back">&larr; <a href="/">Back to shazow.net</a></div>
{{ end }}
{{ define "title" }}{{ .Title }} | shazow.net{{ end }}
{{ define "extra_head" -}}
    <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
    {{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">
    {{ end -}}
    {{ $pageDescription := partial "seo-description.html" . -}}
    {{ $canonicalURL := .Permalink -}}
    {{ with .Params.canonical }}{{ $canonicalURL = . }}{{ end -}}
    {{ $schema := dict
        "@context" "https://schema.org"
        "@type" "BlogPosting"
        "headline" .Title
        "description" $pageDescription
        "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
        "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
        "url" $canonicalURL
        "mainEntityOfPage" $canonicalURL
        "author" (dict "@type" "Person" "name" .Site.Params.author "url" .Site.BaseURL)
        "publisher" (dict "@type" "Person" "name" .Site.Params.author "url" .Site.BaseURL)
    -}}
    <script type="application/ld+json">{{ jsonify $schema | safeJS }}</script>
{{ end }}
{{ define "tail" -}}
    {{ $js := resources.Get "js/post.js" | fingerprint }}
    <script src="{{ $js.RelPermalink }}" defer></script>
{{ end }}
